matrix:
  domain: "{{ matrix_domain }}"
  homeserver: "{{ matrix_homeserver_container_url }}"

admin_backend:
  shared_secret: "{{ matrix_synapse_ext_password_provider_shared_secret_auth_shared_secret }}"
  username: "{{ matrix_swiclops_matrix_username }}"
  password: "{{ matrix_swiclops_matrix_password }}"

uia:

  registration:
    shared_secret: "{{ matrix_synapse_registration_shared_secret }}"

  bsspeke:
    curve: "curve25519"
    oprf_secret: "{{ matrix_swiclops_bsspeke_oprf_secret }}"

{% if matrix_swiclops_appstore_enabled %}
  apple_app_store:
    apps:
{% for app in matrix_swiclops_appstore_apps %}
      - bundle_id: "{{ app.bundle_id }}"
        name: "{{ app.name }}"
        apple_id: {{ app.apple_id }}
        secret: "{{ app.secret }}"
{% endfor %}
    products:
{% for product in matrix_swiclops_appstore_products %}
      - product_id: "{{ product.product_id }}"
        level: {{ product.level }}
        shareable: {{ product.shareable }}
        quota: {{ product.quota }}
{% endfor %}
    environment: "{{ matrix_swiclops_appstore_environment }}"
    grace_period_days: {{ matrix_swiclops_appstore_grace_period }}
    certs:
{% for cert_filename in matrix_swiclops_appstore_certs %}
      - "/etc/swiclops/certs/{{ cert_filename }}"
{% endfor %}
{% endif %}

{% if matrix_swiclops_playstore_enabled %}
  google_play_store:
    developer_id: "{{ matrix_swiclops_playstore_developer_id }}"
    package_ids:
{% for app_id in matrix_swiclops_playstore_app_ids %}
      - "{{ app_id }}"
{% endfor %}
    products:
{% for product in matrix_swiclops_playstore_products %}
      - subscription_id: "{{ product.subscription_id }}"
        level: {{ product.level }}
        shareable: {{ product.shareable }}
        quota: {{ product.quota }}
{% endfor %}
{% endif %}

  email:
    postmark:
      token: "{{ matrix_swiclops_postmark_token }}"
{% if matrix_swiclops_mailchimp_enabled %}
    mailchimp:
      api_key: "{{ matrix_swiclops_mailchimp_api_key }}"
      server: "{{ matrix_swiclops_mailchimp_server }}"
      list_id: "{{ matrix_swiclops_mailchimp_list_id }}"
{% endif %}

{% if matrix_swiclops_policy_privacy_enabled or matrix_swiclops_policy_terms_enabled %}
  terms:
    policies:
{% if matrix_swiclops_policy_privacy_enabled %}
      - name: "privacy"
        version: "{{ matrix_swiclops_policy_privacy_version }}"
        en:
          name: "Privacy Policy"
          url: "{{ matrix_swiclops_policy_privacy_url }}"
          markdown_url: "{{ matrix_swiclops_policy_privacy_markdown_url }}"
{% endif %}
{% if matrix_swiclops_policy_terms_enabled %}
      - name: "terms"
        version: "{{ matrix_swiclops_policy_terms_version }}"
        en:
          name: "Terms and Conditions"
          url: "{{ matrix_swiclops_policy_terms_url }}"
          markdown_url: "{{ matrix_swiclops_policy_terms_markdown_url }}"
{% endif %}
{% endif %}

  default_flows:
{% for flow in matrix_swiclops_uia_default_flows %}
    - {{ flow }}
{% endfor %}

  routes:
{% if matrix_swiclops_handle_login %}
    - path: "/login"
      method: "POST"
      flows:
{% for flow in matrix_swiclops_login_flows %}
        - stages:
{% if matrix_swiclops_policy_privacy_enabled or matrix_swiclops_policy_terms_enabled %}
          - "m.login.terms"
{% endif %}
{% for stage in flow.stages %}
          - {{ stage }}
{% endfor %}
{% endfor %}
    - path: "/login"
      method: "GET"
      flows: []
{% endif %}
{% if matrix_swiclops_handle_register %}
    - path: "/register"
      method: "POST"
      flows: {{ matrix_swiclops_register_flows }}
{% endif %}
    - path: "/account/auth"
      method: "POST"
      flows:
        - stages: ["m.login.bsspeke-ecc.oprf", "m.login.bsspeke-ecc.verify", "m.enroll.bsspeke-ecc.oprf", "m.enroll.bsspeke-ecc.save"]
        - stages: ["m.login.bsspeke-ecc.oprf", "m.login.bsspeke-ecc.verify", "m.enroll.email.request_token", "m.enroll.email.submit_token"]
        - stages: ["m.login.email.request_token", "m.login.email.submit_token", "m.enroll.bsspeke-ecc.oprf", "m.enroll.bsspeke-ecc.save"]
    - path: "/account/auth/password"
      method: "POST"
      flows:
        - stages: ["m.login.bsspeke-ecc.oprf", "m.login.bsspeke-ecc.verify", "m.enroll.bsspeke-ecc.oprf", "m.enroll.bsspeke-ecc.save"]
    - path: "/account/auth/recovery"
      method: "POST"
      flows:
        - stages: ["m.login.email.request_token", "m.login.email.submit_token", "m.enroll.bsspeke-ecc.oprf", "m.enroll.bsspeke-ecc.save"]
    - path: "/account/auth/email"
      method: "POST"
      flows:
        - stages: ["m.login.bsspeke-ecc.oprf", "m.login.bsspeke-ecc.verify", "m.enroll.email.request_token", "m.enroll.email.submit_token"]
    - path: "/account/auth/subscription"
      method: "POST"
      flows:
{% if matrix_swiclops_appstore_enabled %}
        - stages: ["org.futo.subscriptions.apple_storekit_v2"]
{% endif %}
{% if matrix_swiclops_playstore_enabled %}
        - stages: ["org.futo.subscriptions.google_play"]
{% endif %}
    - path: "/account/deactivate"
      method: "POST"
    - path: "/account/password"
      method: "POST"
      flows:
        - stages: ["m.login.password", "m.enroll.password"]
    - path: "/account/3pid/add"
      method: "POST"
    - path: "/devices/:deviceId"
      method: "DELETE"
    - path: "/delete_devices"
      method: "POST"
    - path: "/keys/device_signing/upload"
      method: "POST"

  passthru_endpoints:
    - path: "/devices"
      method: "GET"
    - path: "/devices/:deviceId"
      method: "GET"
    - path: "/devices/:deviceId"
      method: "PUT"
    - path: "/refresh"
      method: "POST"
      flows:
{% if matrix_swiclops_free_forever_enabled %}
        - stages: ["org.futo.subscriptions.free_forever"]
{% endif %}
{% if matrix_swiclops_appstore_enabled %}
        - stages: ["org.futo.subscriptions.apple_storekit_v2"]
{% endif %}
{% if matrix_swiclops_playstore_enabled %}
        - stages: ["org.futo.subscriptions.google_play"]
{% endif %}
        - stages: ["m.you_shall_not_pass"]

  passthru_legacy_login: {{ matrix_swiclops_passthru_legacy_login }}

database:
  type: "{{ matrix_swiclops_database_type }}"
{% if matrix_swiclops_database_type == "sqlite" %}
  filename: "{{ matrix_swiclops_sqlite_filename }}"
{% endif %}
{% if matrix_swiclops_database_type == "postgres" %}
  username: "{{ matrix_swiclops_postgres_username }}"
  password: "{{ matrix_swiclops_postgres_password }}"
  hostname: "{{ matrix_swiclops_postgres_hostname }}"
  port: {{ matrix_swiclops_postgres_port }}
  database: "{{ matrix_swiclops_postgres_database }}"
{% endif %}

